<div class="card-container">
    <div class="card">
        <form [formGroup]="form" novalidate>
        <div class="row" style="justify-content: center">
            <h2>
                Nuevo Pokemon
            </h2>
        </div>
        <div class="card-container">
            <div class="column">
                <div class="form-input">
                    <label for="">Nombre:</label>
                    <input type="text" formControlName="name">
                </div>
                <div class="form-input">
                    <label for="">Imágen:</label>
                    <input type="text" formControlName="image" placeholder="Url">
                </div>
            </div>
            <!-- <div class="spacer"></div> -->
            <div class="column">
                <div>
                    <label for="">Ataque</label>
                    <input type="range" formControlName="attack" value="0" min="0" max="100" style="padding: 0">
                </div>
                <div>
                    <label for="">Defensa</label>
                    <input type="range" formControlName="defense" value="0" min="0" max="100" style="padding: 0">
                </div>
            </div>
        </div>
        <div class="row" style="justify-content: center">
            <app-button [title]="'Guardar'" [icon]="'save'" [class]="'primaryColor'" [isDisabled]="form.invalid" (buttonClick)="savePokemon($event)"></app-button>
            <app-button [title]="'Cancelar'" [icon]="'close'" [class]="'primaryColor'"></app-button>
        </div>
     </form>
    </div>
</div>