<div class="container">
    <!-- Listado -->
    <div class="row">
        <h2>Listado de Pokemon</h2>
    </div>
    <div class="card-container">
        <input type="text" name="" id="" placeholder="Buscar">
        <div class="spacer"></div>
        <button class="card card-small primaryColor" tabindex="0" type="button">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
            <span>Nuevo</span>
        </button>
    </div>

    <div class="card-container">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Imágen</th>
                    <th>Ataque</th>
                    <th>Defensa</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Yvysaur</td>
                    <td>Yvysaur</td>
                    <td>65</td>
                    <td>38</td>
                    <td>
                        <div class="operationsWrapper">
                            <button type="button">
                                <span class="material-symbols-outlined">
                                    border_color
                                </span>
                            </button>
                            <button type="button">
                                <span class="material-symbols-outlined">
                                    delete_forever
                                </span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-container">
        <div class="card">

        </div>
    </div>

</div>
