<div class="row">
    <h2>Listado de Pokemon</h2>
</div>
<div class="card-container">
    <div class="input-wrapper">
        <span class="material-symbols-outlined">
            search
        </span>
        <input type="text" name="" id="" data-test-id="inputSearch" placeholder="Buscar" [(ngModel)]="filterPokemon">
    </div>
    <div class="spacer"></div>
    <app-button [title]="'Nuevo'" [icon]="'add'" [class]="'primaryColor'" (buttonClick)="clickNew()"></app-button>
</div>

<div class="card-container">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Imágen</th>
                <th>Ataque</th>
                <th>Defensa</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody data-test-id="records-body">
            <tr *ngFor="let pokemon of pokemons | searchPokemon:filterPokemon; trackBy:trackByPokemon;index as i">
                <td>{{pokemon.name}}</td>
                <td style="text-align: center"><img [ngSrc]="pokemon.image" [alt]="pokemon.name" width="100" height="100"></td>
                <td>{{pokemon.attack}}</td>
                <td>{{pokemon.defense}}</td>
                <td>
                    <div class="operationsWrapper">
                        <app-button [icon]="'border_color'" [class]="'icon'" (buttonClick)="editPokemon(pokemon)"></app-button>
                        <app-button [icon]="'delete_forever'" [class]="'icon'" (buttonClick)="deletePokemon($event, pokemon, i)"></app-button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="card-container" [@enterAnimation] *ngIf="isNew || isEdit">
    <div class="card">
        <form [formGroup]="form" novalidate>
        <div class="row" style="justify-content: center">
            <h2>
                Nuevo Pokemon
            </h2>
        </div>
        <div class="card-container">
            <div class="column">
                <div class="form-input">
                    <label for="">Nombre:</label>
                    <input type="text" formControlName="name">
                </div>
                <div class="form-input">
                    <label for="">Imágen:</label>
                    <input type="text" formControlName="image" placeholder="Url">
                </div>
            </div>
            <!-- <div class="spacer"></div> -->
            <div class="column">
                <div>
                    <label for="">Ataque</label>
                    <input type="range" formControlName="attack" value="0" min="0" max="100" style="padding: 0">
                </div>
                <div>
                    <label for="">Defensa</label>
                    <input type="range" formControlName="defense" value="0" min="0" max="100" style="padding: 0">
                </div>
            </div>
        </div>
        <div class="row" style="justify-content: center">
            <app-button [title]="'Guardar'" [icon]="'save'" [class]="'primaryColor'" [isDisabled]="form.invalid" (buttonClick)="isNew ? savePokemon() : updatePokemon()"></app-button>
            <app-button [title]="'Cancelar'" [icon]="'close'" [class]="'primaryColor'" (buttonClick)="cancel()"></app-button>
        </div>
     </form>
    </div>
</div>